*.7z filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/qqproxy/qqproxy filter=lfs diff=lfs merge=lfs -text
/qqproxy/qqproxy-noauth filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.asp filter=lfs diff=lfs merge=lfs -text
*.jsp filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.aspx filter=lfs diff=lfs merge=lfs -text
